/* Russell Carlin - AVF 1209 */

/* Overall Styles */
html {
	background: #3399FF;
	height: 100%;
}
#allStuff {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

/* Home Styles */
#logo {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	margin-top: 10%;
	padding: 1em;
	border: .5em double #FFFF00;
	border-radius: 1em;
}
#logo img{
	width: 100%;
}
#buttons {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
#buttons div {
	width: 40%;
}
#buttonNew {
	float: left;
}
#buttonStash {
	float: right;
}
#buttonNew:active {
	border-bottom: .5em solid red;
}
#buttonStash:active {
	border-bottom: .5em solid red;
}
#buttons div img{
	width: 100%;
}
#bckbtn {
	padding: .5em;
}

/* New Item Styles */
.logo2 {
	width: 40%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: .25em;
	border: .5em double #FFFF00;
	border-radius: .5em;
}
.logo2 img{
	width: 100%;
	height: 100%;
}
#backHome {
	color: #FFFF00;
	float: left;
	margin: .25em;
	border: .25em solid #FFFF00;
	border-radius: .5em;
	padding: 0 .5em;
}
li p{
	line-height: -.5em;
}
ul {
	margin-left: -2em;
	list-style: none;
}

/* Layout Styles */
.divideStuff {
	float: left;
	width: 100%;
	position: relative;
	right: 50%;
}
.rightCol, 
.leftCol {
	float: left;
	position: relative;
	overflow: hidden;
	width: 46%;
}
.leftCol {
	left: 52%;
}
.rightCol {
	left: 56%;
}

/* Left Column Styles */
.leftCol div {
	color: #FFFF00;
	border: .25em solid #FFFF00;
	border-radius: .5em;
}
.leftCol h2 {
	margin-left: 2%;
}
#tPic {
	margin: 0 1%;
}
#tPic img {
	width: 100%;
	height: auto;
}
#saveItem {
	margin-top: 1%;
	text-align: center;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* Right Column Styles */
.rightCol div {
	color: #FFFF00;
	border: .25em solid #FFFF00;
	border-radius: .5em;
}
.rightCol h2 {
	margin-left: 2%;
}
#basics {
	color: #FFFF00;
	border: .25em solid #FFFF00;
	width: 95%;
	border-radius: .5em;
}
#nativeFeatures {
	width: 95%;
}
input {
	width: 95%;
}
#ft {
	margin-top: 1em;
	width: 100%;
	text-align: center;
	color: #FFFF00;
}
#location, #picture {
	margin: 0 .1em .1em .1em;
	width: 6em;
	text-align: center;
}
#location:active, #picture:active, #saveItem:active {
	border-bottom: .25em solid red;
}
#location {
	float: left;
}
#picture {
	float: right;
}

/* Stash Styles */

@media (max-width: 640px) {
	#logo {
		border: .35em double #FFFF00;
	}
	#saveItem {
		font-size: .75em;
	}
}