/*
 Russell Carlin
 AVF 1209
*/
#allStuff {
	background: url('../images/wood.jpg') repeat-x;
	padding: 2em 0;
	width: 100%;
	height: 100%;
	margin: 0 auto -4em;
}
html {
	height: 100%;
}
body {
		margin: 0;
		padding: 0;
		border: 0;
		width: 100%;
		height: 100%;
}
#divideStuff {
	float: left;
	width: 100%;
	position: relative;
}
#sheet {
	border: 2px solid black;
}
#rightCol, 
#leftCol {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
}
#divideStuff {
	right: 50%;
}
#leftCol {
	width: 46%;
	left: 52%;
}
#rightCol {
	width: 46%;
	left: 56%;
}
.title {
	background: black;
	color: white;
}
.title h1, h2 {
	padding: .25em;
}
.title span {
	font-size: .75em;
}
#footer {
	background: url('../images/wood.jpg') repeat-x;
}
#footer{
	height: 4em;
	clear: both;
}
li {
	font-size: 1.5em;
	padding: .5em;
	display: inline;
	line-height: 2em;
}
ul {
	margin-left: -2em;
}
@media (max-width: 640px) {
	body {
		font-size: .75em;
	}
}